*{
    padding:0;
    margin:0;
}

body{
    background-image:linear-gradient(to right,rgb(99, 99, 247, 0.7), rgb(242, 202, 127, 0.9),rgb(251, 248, 248, 0.9));
    height:100vh;
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1{
    font-size: 45px;
    margin-top:30px;
}

#count-el{
    font-size: 50px; 
    margin-top:35px;
}

#increment-btn{
    width:200px;
    height:70px;
    background-color: red;
    color:white;
    border-radius: 8px;
    border: 1px solid burlywood;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    margin-top: 30px;
}

p{
    animation-name: slide-in;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

@keyframes slide-in{
    from{
        margin-left:300%;
        width:100%;
        color:aquamarine;
    }

    to{
        margin-left:0%;
        width:100%;
        color:black;
    }
}